body{
    width: 100%;
    text-align: center;
    font-size: 60pt;
}

button{
    font-size: 60pt;
    background-color: lightblue;
}

.back-button{
    font-size: 60pt;
    background-color: lightblue;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    font-size: 60pt;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #f2f2f2;
}

img{
    width: 700;
}